# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/front/node_modules

# next.js
/front/.next/
/front/out/

# production
/front/build

# debug
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/.pnpm-debug.log*

# env files
front/.env*

# vercel
front/.vercel

# typescript
front/*.tsbuildinfo
front/next-env.d.ts


back/data